
<div  class="flex h-[300px] flex-grow flex-col rounded-lg bg-blue-500 bg-contain bg-right-top bg-no-repeat "
  style="background-image: url('assets/images/logo_omit_asis_slogan_fondo_blanco.png')">
  <div class="flex flex-col justify-between p-10 ">
    <div class="mb-4 pt-0 sm:mb-14">
      <h3 class="mb-4 text-5xl font-semibold text-white">Bienvenido..!</h3>
      <span class="fs-4 d-block lh-0 mb-8 font-semibold text-white">{{ Fecha }}</span>
    
    </div>
 
    <div class="flex items-center gap-2">
     
      <span class="d-block lh-0 mb-8 font-semibold text-white large-text ">{{ Hora }}</span>
    </div>
  </div>
</div>
